<!doctype html>
<html lang="en">

<!---tells the browser about the type of the document.-->
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!---^^link to bootstrap stylesheet-->
    

      <title>ACTALAB Datasite- AJA Log</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="description_class">
      <h3 style="text-align: center;">AJA Log @ ActaLab</h2>
      <h4 style="text-align: center;" id = "description">A record of all samples fabricated at the ACTA Lab</h2>
      
    </div>
    <div class ="container">
        <div class="row">
            <iframe width="1200px" height="1000" frameBorder="0" style="box-shadow: 5px 10px 18px #d3d3d3;" src="https://docs.google.com/spreadsheets/d/1QhxFqpt0gB7hN8g6XzI4ZynCTsjYSWtsG6R5nlrux8E/edit?rm=minimal#gid=0usp=sharing"></iframe>
        </div>

    </div>
    <!----------------------------------------------------------------------------------------------------->     
    <!--To use bootstrap grid, add create a container, add row, add col
      label classes with container / row / col-->
 
    <!----------------------------------------------------------------------------------------------------->


  </body>
</html>