<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Instrument Datatype File</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
  </head>
  <body>
    {% include 'navbar.html' %}

<div class="description_class"> 
      <h2 id="description"> Select the required Instrument-Datatype to view our recorded properties.</h2> 
    </div> 
    <!----------------------------------------------------------------------------------------------------->      
    <!--To use bootstrap grid, add create a container, add row, add col 
      label classes with container / row / col--> 
    <div class = "home_body_div container"> 
         
        <div class="table_heading"> 
          <p id="description" > Instument-Datatype </p> 
        <style> 
        #descption{ 
          color:blue; 
        } 
        </style> 
        </div> 
<!-- 
    <table 
    id="table"
    data-toggle="table"
    data-filter-control="true"
    data-show-search-clear-button="true"
    >
                <thead class="thead-dark"> 
                    <tr id='tableHeader'>
                    <th  data-field="Instruments - Datatype" class="h5" data-sortable="true" data-filter-control="select" > Instruments - Datatype <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    <th  data-field="Operator" class="h5" data-sortable="true" data-filter-control="input">  Operator <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    <th  data-field="Sample ID" class="h5" data-sortable="true" data-filter-control="input">  Sample ID <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    <th  data-field="Composition" class="h5" data-sortable="true" data-filter-control="input">  Composition <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    <th  data-field="Comments" class="h5" data-sortable="true" data-filter-control="input">  Comments <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    <th  data-field="data-added" class="h5" data-sortable="true" data-filter-control="input" >  File <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    </tr>

                </thead> 
      <tbody>
           Table goes here
                {% for p in instru_list%}

                <tr>
                <td>{{p.instru_datatype}}</td>
                <td>{{p.operator}}</td>
                <td>{{p.sample_id}}</td>
                <td>{{p.composition}}</td>
                <td>{{p.comments}}</td>
                <td> <a href="{{p.upload_data.url}}" download>{{p.upload_data}}</a></td>
                </tr>
                  {% endfor %}
                </tbody>
    </table> -->

    <table class="table table-hover">
      <thead class="table-active">
        <tr>
          <th scope="col"> Instruments - Datatype </th>
          <th scope="col"> Operator </th>
          <th scope="col"> Sample ID </th>
          <th scope="col"> Composition </th>
          <th scope="col"> Comments </th>
          <th scope="col"> File </th>
        </tr>
      </thead>
      <tbody>
        {% for p in instru_list%}

        <tr>
        <td>{{p.instru_datatype}}</td>
        <td>{{p.operator}}</td>
        <td>{{p.sample_id}}</td>
        <td>{{p.composition}}</td>
        <td>{{p.comments}}</td>
        <td> <a href="{{p.upload_data.url}}" download>{{p.upload_data}}</a></td>
        </tr>
          {% endfor %}
      </tbody>
    </table>





<!-- 
    <script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script> -->

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
  </body>
</html>